<% if session[:uid] %>
Hi,<%= @user.username %>
<a href="<%= logout_path %>">退出</a>
<a href="<%= users_path %>">users</a>
<a href="<%= index_sync_path %>">同步</a>

<%= form_tag(search_links_path, :method=>"post") do %>
  <input type="text" name="key"/>
  <input type="submit" />
<% end %>
<ul>
<% @items.each do |k, v| %>
  <div class="date"><%= k %></div>
  <% v.each do |x| %>
  <% link = x.link %>
  <li>
  <a href="<%= link.url %>" target="_blank" class="title" title="<%= link.title %>"><%= link.title %></a>
  <% if link.content_type == "site" %>
    <%= link.content_type %>
  <% else %>
    <a href="<%= link_path(link.id)%>" target="_blank" class="view_text">阅读</a>
  <% end %>
  <% unless link.crawl_status == 200 %>
    <span class="status"><%= link.crawl_status %></span>
  <% end %>
  </li>
  <% end %>
<% end %>
</ul>

<% else %>
  <a href="<%= login_path %>">登录</a>
<% end %>

