
<div class="row">
  <div class="span8 offset2">
    <!--Sidebar content-->

    <% @items.each do |k, v| %>
    <div class="row date"><%= k %></div>
    <% v.each do |x| %>
    <% link = x.link %>
    <div class="row item">
      <a href="<%= link.url %>" target="_blank" class="title span7" title="<%= link.title %>"><%= link.title %></a>
      <% if link.content_type == "site" %>
      <span class="span1 view_text">站点</span>
      <% else %>
      <a href="<%= link_path(link.id)%>" target="_blank" class="view_text span1">阅读</a>
      <% end %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>





