<h1>Pocket</h1>
<% if session[:uid] %>
Hi,<%= @user.username %>
<a href="<%= logout_path %>">退出</a>
<a href="<%= crawl_links_path %>">Crawl</a>
<a href="<%= index_sync_path %>">同步</a>

<%= form_tag(search_links_path, :method=>"post") do %>
  <input type="text" name="key"/>
  <input type="submit" />
<% end %>
<ul>
<% @links.each do |link| %>
  <li>
  <a href="<%= link.url %>" target="_blank"><%= link.title %></a>|
  <% if link.content_type == "site" %>
    <%= link.content_type %>
  <% else %>
    <a href="<%= link_path(link.id)%>" target="_blank">阅读</a>
  <% end %>
  <% unless link.crawl_status == 200 %>
    <%= link.crawl_status %>
  <% end %>
  </li>
<% end %>
</ul>

<% else %>
  <a href="<%= login_path %>">登录</a>
<% end %>

