<h1>Pocket</h1>
<% if session[:uid] %>
Hi,<%= @user.username %>
<a href="<%= logout_path %>">退出</a>
<a href="<%= crawl_links_path %>">Crawl</a>
<a href="<%= index_sync_path %>">同步</a>

<%= form_tag(search_links_path, :method=>"post") do %>
  <input type="text" name="key"/>
  <input type="submit" />
<% end %>
<ul>
<% @links.each do |link| %>
  <li style="width:400px">
  <a href="<%= link.url %>" target="_blank"><%= link.title %></a>|
  <a href="<%= link_path(link.id)%>" target="_blank"><%= link.content_type %></a>
  </li>
<% end %>
</ul>

<% else %>
  <a href="<%= login_path %>">登录</a>
<% end %>

