<div class="row tabs">
  <div class="span3 offset7">
	<a href="" class="button">Day</a>
  <a href="" class="button">Week</a>
  <a href="" class="button">Month</a>
  </div>
</div>

<div class="row">
  <div class="span9 offset1">
    <% @items.each do |item| %>
    <% link = Link.find(item.link_id) %>
    <div class="row item">
      <span class="span1"><%= item.link_num %></span>
      <a href="<%= link.url %>" target="_blank" class="title span6" title="<%= link.title %>"><%= link.title %></a>
      <% if link.content_type == "site" %>
      <%= link.content_type %>
      <% else %>
      <a href="<%= link_path(link.id)%>" target="_blank" class="view_text span1">阅读</a>
      <% end %>
      <% unless link.crawl_status == 200 %>
      <span class="status span1"><%= link.crawl_status %></span>
      <% end %>
    </div>
    <% end %>
  </div>

</div>
