<%= @cur_user.username %>关注了<%= @cur_user.follows.size %>位用户:
<ul>
  <% @users.each do |user| %>  
  <% unless user.id == @cur_user.id %>
  <li>
  	<%= user.username %> 
  	关注:<%= user.follows.size %> 
  	粉丝: <%= user.fans.size %>
  	<% if has_follow(@cur_user, user) %>
  	<%= link_to("取消关注", unfollow_users_path(:follow_id => user.id)) %>
  	<% else %>
  	<%= link_to("关注", follow_users_path(:follow_id => user.id)) %>
  	<% end %>
  </li>
  <% end %>
  <% end %>
</ul>