<h1>Pocket</h1>
<a href="links/crawl">Crawl</a>
<%= form_tag(search_links_path, :method=>"post") do %>
  <input type="text" name="key"/>
  <input type="submit" />
<% end %>
<ul>
<% @links.each do |link| %>
  <li style="width:400px">
  <a href="<%= link.url %>" target="_blank"><%= link.title %></a>|
  <a href="<%= link_path(link.id)%>" target="_blank"><%= link.content_type %></a>
  </li>
<% end %>
</ul>
